.ActiveQuiz {
    padding: 20px;
    color: #000000;
    box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
    border-radius: 5px;
    margin: 0 10px;
    background-color: rgba(255,255,255,.85);
}

.Question {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
}